*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    scroll-behavior: smooth;
    background-image: url("../img/13.gif");
    background-size:cover;
    background-position: top center;
    position: relative;
    background-color: #0f0d10;
}
a {
    text-decoration: name;
}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p {
    color:black
    
    ;
    margin: 10px;
    text-align: center;
    
}
.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid rgb(209, 19, 57);
    border-radius: 10px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    margin-left: 50px;
}

.cta:hover {
    color: white;
    background-color: rgba(220, 20, 60, 0.438);
}

